.header {
    align-items: center;
    border-top: 1px solid var(--border-medium-color);
    color: var(--text-light-color);
    display: flex;
    font-weight: 500;
    font-size: 14px;
    justify-content: space-between;
    line-height: 20px;
    min-height: 37px;
    padding: 0 8px 0 16px;
}

.header:hover {
    cursor: pointer;
}

.content {
    padding: 12px 8px;
    border-top: 1px solid var(--border-medium-color);
}